

</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->


<!-- Home Jumbotron
================================================== -->
<section class="intro">
    <div class="wrapintro">
        <h1>FLL Tutorials<br>enseñar - compartir - aprender</h1>
        <h2 class="lead">This website is powered by Droids Robotics, founders of EV3Lessons, and World Festival Champion's award winners.
        <br> <br>
        Through this website, we hope to share our knowledge, as well best practices for getting the most out of your FIRST LEGO League journey. Our goal is to teach, share, and learn together.</h2>


    </div>
</section>

<!-- We reopen main-content and container -->

<div class="container-fluid">

    <div class="main-content">

    <section id="services">
        <div class="container-fluid">

            <div class="row">
            <div class="col-sm-4">
                {% include sidebar.html %}
            </div>
            <div class="col-sm-8">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FIRST LEGO League</h2>
                    <h3 class="section-subheading text-muted">Recursos para los tres partes de FIRST LEGO League</h3>
                </div>
            </div>
                        <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"> <a href="{{ site.baseurl }}/{{page.lang}}/RobotGame.html">Juego de Robot</a></h4>
                    <p class="text-muted">Este seccion tiene recursos diseñados para el Juego de Robot parte del concurso. Tiene diseños de robots.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"> <a href="{{ site.baseurl }}/{{page.lang}}/CoreValues.html">Valores FIRST</a></h4>
                    <p class="text-muted">Tiene muchos actividades de valores FIRST. También tiene carteles y un diseña camiseta. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"> <a href="{{ site.baseurl }}/{{page.lang}}/Project.html">Projecto de Innovación</a></h4>
                    <p class="text-muted">Este seccion tiene mucho recursos para el proyecto y lecciones sobre el proceso del projecto.</p>
                </div>
            </div>
            </div>
            </div>
        </div>
    </section>


        <!-- Featured
        ================================================== -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Featured Posts</h2>
            </div>
        </div>
        <br><br>
        <section class="featured-posts">

                <div class="row listfeaturedtag">

                    {% for post in site.posts %}

                        {% if post.featured == true %}

                            {% include featuredbox.html %}

                        {% endif %}

                    {% endfor %}

                </div>

        </section>
